docker pull mysql/mysql-server:5.7
docker run --name=kine-project-mysql-5.7 -d -p 3306:3306 mysql/mysql-server:5.7
docker logs kine-project-mysql-5.7

docker logs kine-project-mysql-5.7 2>&1 | grep GENERATED

irebyhBowal#yKJeNSoKX4fInRA

docker exec -it kine-project-mysql-5.7 mysql -uroot -p


SET PASSWORD FOR 'root'@'localhost' = PASSWORD('devpassword');
ALTER USER 'root'@'localhost' IDENTIFIED BY 'devpassword';


CREATE USER 'kine'@'%' IDENTIFIED BY 'devpassword';

CREATE DATABASE kine;

GRANT ALL PRIVILEGES ON kine.* TO 'kine'@'%';